<div class="adslist <%= cycle('list-odd', 'list-even' ) %>">
  <h3><%= ad.title %></h3>
  <%= ad.description %>
  <% if current_user?(ad.user) %>
    <span class="pull-right">
    <%= link_to "update", edit_ad_path(ad), class: 'btn btn-mini btn-primary'  %>
    <%= link_to "delete", ad, method: :delete,
                              data: { confirm: "You sure?" },
                              title: ad.title,
                              class: 'btn btn-mini btn-danger' %>
    </span>
  <% end %>
  <p>Created <%= time_ago_in_words(ad.created_at) %> ago.</p>
</div>
