<tr>
  <td>
    <h3><%= link_to ad.title, ad_path(ad) %></h3>
    <p><%= ad.description %></p>
    <p>
      Created by <%= ad.user.name %> <%= time_ago_in_words(ad.created_at) %> ago.
    </p>
    <p>
      <% if can? :update, ad %>
        <%= link_to "update", edit_ad_path(ad), class: 'btn btn-mini btn-primary'  %>
      <% end %>
      <% if can? :destroy, ad %>
        <%= link_to "delete", ad, method: :delete, data: { confirm: "You sure?" }, title: ad.title, class: 'btn btn-mini btn-danger' %>
      <% end %>
    </p>
  </td>
</tr>
