<h3 class="center">Your Profile</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th>name:</th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>id:</th><td><%= @user.id %></td>
  </tr>
  <tr>
    <th>email:</th><td><%= @user.email %></td>
  </tr>
  <tr>
    <th>role:</th><td><%= @user.role %></td>
  </tr>
  <tr>
    <th>ads count:</th><td><%= @user.ads.count %></td>
  </tr>
</table>
