            <tr>
              <td>
                <p>
                  <%= link_to user.name, user %>
                  <span class="label label-<%= (user.role == 'admin') ? 'important' : 'success' %>"><%= user.role %></span>
                </p>
              </td>
              <td>
                <p class="right">
                <% if (can? :destroy, User) && (user != current_user) %>
                  <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-mini btn-danger' %>
                  <%= link_to "Change role", edit_user_path(user), class: 'btn btn-mini btn-primary'  %>
                <% end %>
                </p>
              </td>
            </tr>
