<% provide(:title, 'Sign up') %>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><h1>Sign up</h1></legend>

      <%= f.input :name, required: false %>
      <%= f.input :email, required: false %>
      <%= f.input :password, required: false %>
      <%= f.input :password_confirmation, required: false %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary' %>
        <%= link_to 'Cancel', root_path, class: 'btn btn-danger' %>
      </div>
    </fieldset>
  <% end %>
  </div>
</div>
