<% provide(:title, @user.name) %>
<h1 class="header"><%= @user.name %></h1>
<div class="row">
  <div class="span6">
    <%= render partial: 'user_info' %>
  </div>
  <div class="span6">
    <h3 class="center">New Ad</h3>
    <div class="center hero-unit hero-ad">
      <p>For create new ad push the button</p>
      <%= link_to "Create new ad!", new_ad_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
</div>

<% if @ads.any? %>
<div class="row">
  <div class="span12">
    <h2 class="center">List of ads</h2>
    <% @ads.each do |ad| %>
      <table class="table">
        <%= render ad %>
      </table>
    <% end %>
    <%= will_paginate @ads %>
  </div>
</div>
<% end %>
