<% provide(:title, 'Home') %>
<% if !signed_in? %>
<div class="center hero-unit">
  <h1>Welcome to the ADS project</h1>
  <h2>sign up if you don't have an account</h2>
  <%= link_to "Sign up", signup_path , class: "btn btn-large btn-primary" %>
</div>
<% end %>
<h1>ADS list</h1>
<div class="row">
  <div class="span12">
  <% @ads.each do |ad| %>
    <div class="adslist <%= cycle('list-odd', 'list-even' ) %>">
      <h3><%= ad.title %></h3>
       <p><%= ad.description %></p>
      <p>
        Created <%= time_ago_in_words(ad.created_at) %> ago
        by <%= ad.user.name %>
      </p>
    </div>
  <% end %>
  <%= will_paginate @ads %>
  </div>
</div>
