<% provide(:title, controller.action_name.humanize + " category") %>
      <div class="row">
        <div class="span6 offset3">
          <h1><%= controller.action_name.humanize + " category" %></h1>
          <%= simple_form_for @category do |f| %>
            <fieldset>
              <%= f.input :category_name, required: false, autofocus: true, input_html: { class: "span6" } %>

              <%= f.button :submit, "Save", class: "btn-primary" %>
              <%= link_to "Cancel", categories_path, class: "btn" %>
            </fieldset>
          <% end %>
        </div>
      </div>
