<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container">
    <%= render 'layouts/flash_notice' %>

    <section id="main-content">
      <%= yield %>
    </section>

    <footer class="footer">
      <p class="pull-right"><%= link_to "Back to top", "#" %></p>
      <p><%= link_to "ADS project", root_path %></p>

      <%= render 'layouts/debug' %>
    </footer>
  </div>
</body>
</html>
